/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-hue: 250; /* Changed to numeric value */
  --sat: 97%;
  --lig: 50%;
  --second-hue: 207; /* Changed to numeric value */
  
  --first-color: hsl(var(--first-hue), 66%, 75%); /* Adjusted to use variables */
  --first-color-alt: hsl(var(--first-hue), 72%, 41%);
  --title-color: hsl(var(--first-hue), 66%, 75%);
  --text-color: hsl(var(--second-hue), 47%, 91%); /* Adjusted to use variables */
  --text-color-light: hsl(29, 58%, 9%);
  --body-color: hsl(200, 23%, 95%);
  --container-color: hsl(var(--second-hue), 32%, 12%);
  
  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: 'Poppins', sans-serif;
  --biggest-font-size: 1.75rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;
  --tiny-font-size: .625rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semibold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

/* Responsive typography */
@media screen and (min-width: 968px) {
  :root {
    --biggest-font-size: 2.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input,
textarea {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
  transition: 0.1s;
}

h1, h2, h3 {
  color: var(--title-color);
  font-weight: var(--font-semibold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

img {
  max-width: 35%;
  height: auto;
}

/* Dark theme styles */
.dark-theme {
  --first-hue: 27;
  --sat: 97%;
  --lig: 50%;
  --second-hue: 211;
  
  --first-color: hsl(var(--first-hue), 66%, 75%);
  --first-color-alt: hsl(var(--first-hue), 72%, 41%);
  --title-color: hsl(var(--first-hue), 66%, 75%);
  --text-color: hsl(var(--second-hue), 47%, 91%);
  --text-color-light: hsl(29, 58%, 9%);
  --body-color: #D9E2D5;
  --container-color: hsl(var(--second-hue), 32%, 12%);
}

/* Light theme styles */
.light-theme {
  --first-hue: 0; /* Adjusted to black */
  --sat: 0%; /* Adjusted to black */
  --lig: 100%; /* Adjusted to white */
  --second-hue: 0; /* Adjusted to black */

  --first-color: hsl(var(--first-hue), var(--sat), var(--lig)); /* Black */
  --first-color-alt: hsl(0, 0%, 72%); /* Adjusted light color */
  --title-color: hsl(var(--first-hue), var(--sat), var(--lig)); /* Black */
  --text-color: #000; /* Black */
  --text-color-light: hsl(0, 0%, 9%); /* Adjusted darker color */
  --body-color: hsl(200, 23%, 95%);
  --container-color: #fff; /* White */
}

/*=============== THEME ===============*/
.change-theme {
  font-size: 1.25rem;
  cursor: pointer;
  transition: 0.3s;
}

.change-theme:hover {
  color: var(--first-color);
}

/*========== Variables Light theme ==========*/
body.light-theme {
  --title-color: hsl(var(--second-hue), 15%, 15%);
  --text-color: hsl(var(--second-hue), 8%, 35%);
  --body-color: hsl(var(--second-hue), 100%, 99%);
  --container-color: #fff;
}

/*========== 
    Color changes in some parts of 
    the website, in light theme
==========*/
.light-theme .scroll-header {
  box-shadow: 0 2px 4px hsla(0, 0%, 1%, 0.1);
}

.light-theme .nav__menu {
  background-color: hsla(var(--second-hue), 32%, 90%, 0.8);
  /* Smaller size and padding for the menu */
  width: 70%; /* Default width for medium-sized screens */
  max-width: 250px; /* Maximum width */
  padding: 0.5rem 1rem; /* Padding */
}

.light-theme .section__subtitle {
  color: var(--text-color);
}

.light-theme .home__social-link {
  box-shadow: 0 2px 8px hsla(var(--second-hue), 48%, 8%, 0.1);
}

.light-theme .home__social::after,
.light-theme .footer__social-link {
  background-color: var(--title-color);
}

.light-theme .home__social-link,
.light-theme .home__scroll,
.light-theme .button,
.light-theme .button:hover,
.light-theme .active-work,
.light-theme .footer__title,
.light-theme .footer__link,
.light-theme .footer__copy{
  color: var(--title-color);
}

.light-theme .about__box {
  box-shadow: 0 2px 8px hsla(var(--second-hue), 48%, 8%, 0.1);
}

.light-theme .section__events,
.light-theme .section__venues,
.light-theme .section__profile,
.light-theme .section__create-events,
.light-theme .section__community,
.light-theme .section__settings
.experience-section {
  box-shadow: 0 2px 16px hsla(var(--second-hue), 48%, 8%, 0.1);
}

.light-theme::-webkit-scrollbar {
  background-color: hsl(var(--second-hue), 8%, 66%);
}

.light-theme::-webkit-scrollbar-thumb {
  background-color: hsl(var(--second-hue), 8%, 54%);
}

.light-theme::-webkit-scrollbar-thumb:hover {
  background-color: hsl(var(--second-hue), 8%, 44%);
}

/* For small devices */
@media screen and (max-width: 575.98px) {
  .nav__icon {
    font-size: 20px; /* Adjust the size for smaller screens */
  }
}

/* For medium devices */
@media screen and (min-width: 576px) {
  .nav__icon {
    font-size: 24px; /* Default size for medium devices */
  }
}

/* For large devices */
@media screen and (min-width: 992px) {
  .nav__icon {
    font-size: 28px; /* Adjust the size for larger screens */
  }
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 968px;
  margin-left: auto;
  margin-right: auto;
}

.grid {
  display: grid;
  gap: 1.25rem;
}

.main {
  overflow: hidden;
}

.section {
  padding: 4.5rem 0 1rem;
}

.section__title, 
.section__subtitle {
  text-align: center;
}

.section__title {
  font-size: var(--h2-font-size);
  color: var(--title-color);
  margin-bottom: 2rem;
}

.section__subtitle {
  display: block;
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
}

/* Header styles */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 50px;
  background: transparent;

  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  color: var(--first-color);
  font-weight: var(--font-medium);
  transition: 0.4s;
  max-height: 150px;
  max-width: auto;
  margin-right: 10px;
}

.nav__menu {
  position: fixed;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: hsla(var(--second-hue), 32%, 16%, 0.8);
  width: 80%;
  max-width: 480px;
  border-radius: 4rem;
  padding: 0.5rem 1.5rem;
  backdrop-filter: blur(10px);
  transition: 0.2s;
}


/* Adjustments for smaller screens */
@media screen and (max-width: 768px) {
  .nav__menu {
    width: 90%; /* Adjusted width for smaller screens */
    max-width: 480px; /* Adjusted maximum width */
    padding: 0.5rem 1rem; /* Adjusted padding */
  }
}

/* Adjustments for larger screens */
@media screen and (min-width: 1200px) {
  .nav__menu {
    width: 70%; /* Adjusted width for larger screens */
    max-width: 40%; /* Adjusted maximum width */
    padding: 0.5rem 2rem; /* Adjusted padding */
  }
}


.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__item {
  margin-right: 20px;
}

.nav__link {
  color: var(--text-color);
  font-size: 1.25rem;
  padding: 0.4rem;
  display: flex;
  border-radius: 5rem;
}

.nav__link:hover {
  color: #007bff;
}

.active-link {
  background: linear-gradient(180deg, 
              hsla(207, 90%, 72%, 1), /* Change the HSL values to the desired color */
              hsla(207, 90%, 72%, 0.2)
            );
  box-shadow: 0 0 16px hsla(207, 90%, 72%, 0.4);
  color: var(--title-color);
}


/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 320px) {
  .nav__menu {
    padding: 1rem 1.5rem;
  }

  .home__buttons {
    flex-direction: column;
  }
}

/* Align moon button to the top-right corner */
#theme-button {
  position: fixed; /* Use fixed position to keep it visible while scrolling */
  top: 10px;
  right: 10px;
  font-size: 24px;
  color: var(--first-color);
  cursor: pointer;
  z-index: 1000; /* Ensure it appears above other elements */
}
